$white : white ;
$cinder: #171520;
$silver-sand : #bbbcdb ; 
$mm-green : #20ac97 ;
$corduroy : #6b6c6c;
$crimson : #e2251a ;
$cafe : #77440e ;
$brass : #ca935f ;
$tangerine : #f38f01 ;
$congress-blue : #044689 ;
$ebony-clay : #232a33 ;
$athenys-gray : #ebe9ed ;
$spicy-mix : #8a614a ;
$gray-chateau : #9aa2a6 ;
$barley-corn : #a38664 ;
$san-marino : #43779d ;
$quicksand : #c2a394 ;
$j-green : #26aa94 ;
$vulcan : #141423 ;
$amour : #fcf7fb ;


